@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body{
    background:url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
}


.container{
    padding: 20px 70px;
    color:rgb(13, 12, 12);
    
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 50px;
    font-weight: 100;
    margin-top: 200px;
}

.place-container .country{
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.weather-information {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    
    
    
}
.card {
    justify-content: center;
    background: #cdbebe;
    padding: 3em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    font-size: 20px;
    margin-top: 100px;
    
}





.show-btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
}

.show-btn{
    position: absolute;
    top: 3%;
    left: 5%;
    transform: translate(-50%, -50%);
}


.authenticator-page{

    width: 450px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);

}
.authenticator-page{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%)
}
.authenticator-page .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover{
    color: rgb(226, 180, 180);
}

h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

form{
    margin: 20px;
}
label{
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
}

button{
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #cbb4d4, 
    #20002c);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;

}

a{
    text-decoration: none;
    color: #20002c;

}

.link{
    margin-top: 30px;
    text-align: center;
    color:white;
}

a:hover{
    text-decoration: underline;
}
.hidden{
display: none;
}








  